<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyWhaetherApp 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C6C7DDD1F724C3400FEC198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C6C7DF11F724C3500FEC198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C6C7DFC1F724C3600FEC198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
